
// keyframes

@keyframes fadein {
    0% { opacity: 0; }
    
    100% { opacity: 1; }
}

@keyframes liner {
    0% {
    width: 0px;
    opacity: 0;
    }

    100% {
    width: 250px;
    opacity: 1;
    }
}

@keyframes liner-about {
    0% {
    width: 0px;
    opacity: 0;
    }

    100% {
    width: 750px;
    opacity: 1;
    }
}

@keyframes fadein_description {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% { opacity: 1; }
}

@keyframes fadein_description-berry {
    0% {
        opacity: -1;
        transform: translateY(200px);
    }

    50% { opacity: 0; }

    100% { opacity: 1; }
}

